body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: rgb(11, 11, 11);
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.logo span {
    color: #f39c12;
}

.nav-link:hover {
    color: #f39c12 !important;
}

.card {
    background-color: #1e1e1e;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-text {
    font-weight: bold;
    color: #f1c40f;
}

.input-group input {
    background-color: #333;
    border: none;
    color: white;
}

.input-group input::placeholder {
    color: #bbb;
}

.input-group button {
    background-color: #f39c12;
    border: none;
    color: white;
}

.input-group button:hover {
    background-color: #e67e22;
}
.movie-card {
    position: relative;
    margin-bottom: 20px;
}
.movie-card img {
    width: 100%;
    border-radius: 5px;
}
.label {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #e67e22;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
}
.movie-title {
    font-weight: bold;
    margin-top: 5px;
}
.login-btn {
    background-color: #f40c18;
    width:20px ;
}
.register-btn {
    background-color: #28a745;
    width: 20px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 20px 30px;
}