body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: rgb(11, 11, 11);
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.logo span h2  {
    color: #f39c12;
}

.nav-link{
    font-size: 25px;
}

.nav-link:hover {
    color: #f39c12 !important;
}

.card {
    background-color: #1e1e1e;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-text {
    font-weight: bold;
    color: #f1c40f;
}

.input-group input {
    background-color: #333;
    border: none;
    color: white;
}

.input-group input::placeholder {
    color: #bbb;
}

.input-group button {
    background-color: #f39c12;
    border: none;
    color: white;
}

.input-group button:hover {
    background-color: #e67e22;
}
.movie-card {
    position: relative;
    margin-bottom: 20px;
}
.movie-card img {
    width: 100%;
    border-radius: 5px;
}
.label {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #e67e22;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
}
.movie-title {
    font-weight: bold;
    margin-top: 5px;
}
.login-btn {
    background-color: #212529;
    color: #bbb;
    font-size: 20px;
}
.register-btn {
    background-color: #212529;
    color: #bbb;
    font-size: 20px;
}
.ranking-container {
    background-color: #0a0a0a;
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 300px;
}

.ranking-container h2 {
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 1px dashed #666;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.ranking-list {
    list-style: none;
    padding: 0;
}

.ranking-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.ranking-item img {
    width: 60px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.movie-info {
    flex: 1;
}

.movie-info h3 {
    font-size: 14px;
    margin: 0;
}

.movie-info p {
    margin: 2px 0;
    font-size: 12px;
    color: #ddd;
}

.rating {
    color: #f7d20d;
}
body {
    background-color: #111;
    color: #fff;
}
.movie-container {
    display: flex;
    margin: 20px;
}
.movie-poster img {
    width: 250px;
}
.movie-info {
    margin-left: 20px;
}
.top-movies {
    margin-top: 20px;
}
.top-movies img {
    width: 80px;
    height: 120px;
    object-fit: cover;
}