<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/Forgot password.css">
</head>
<body>
    <div class="container">
        <div class="logo">Đặt lại mật khẩu</div>
        <p></p>
        <form action="#" method="POST">
            <input type="email" placeholder="Email" required>
            <button type="submit">Gửi Yêu Cầu</button>
        </form>
        <a href="/resources/views/html/Login.html" class="back-link">Quay lại đăng nhập</a>
    </div>
</body>
</html>